@import "about.css";
@import "help.css";
@import "volunteer.css";

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
    font-weight: 300;
}

body {
    font-family: HelveticaNeueCyr, sans-serif, Arial;
    font-weight: 300;
    width: 1200px;
    margin: auto;
}

h2 {
    font-family: Comfortaa, sans-serif, Arial;
    font-weight: 400;
}

li {
    list-style-type: none;
}
